@*@{
    ViewBag.Title = "Admin Paneli";
}

<h2>Admin Paneli</h2>

<p>Hoş geldin admin!</p>

<p>
    <a href="@Url.Action("AddProduct", "Admin")">Ürün Ekle</a> |
    <a href="@Url.Action("Logout", "Admin")">Çıkış Yap</a>
</p>*@
