@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Admin Girişi</title>
</head>
<body>
    <h2>Admin Girişi</h2>
    @if (ViewBag.Error != null)
    {
        <p style="color:red">@ViewBag.Error</p>
    }

    @using (Html.BeginForm())
    {
        <p>Kullanıcı Adı: @Html.TextBox("username")</p>
        <p>Şifre: @Html.Password("password")</p>
        <button type="submit">Giriş Yap</button>
    }
</body>
</html>
