@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about" style="padding:50px;">
    <h2>Hakkımızda</h2>
    <p>Firmamız, yıllardır e-ticaret sektöründe hizmet vermektedir. Müşteri memnuniyeti odaklı çalışmalarımız sayesinde güvenilir bir marka haline geldik.</p>

    <h3>Misyonumuz</h3>
    <p>En kaliteli ürünleri, en uygun fiyatlarla sunmak.</p>

    <h3>Vizyonumuz</h3>
    <p>E-ticaret alanında lider ve yenilikçi bir marka olmak.</p>
</div>
