@{
    ViewBag.Title = "Giriş Yap";
}

<h2>Giriş Yap</h2>

@if (ViewBag.Error != null)
{
    <div style="color:red">@ViewBag.Error</div>
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" placeholder="Email adresiniz" required />
    </div>

    <div>
        <label for="password">Şifre</label>
        <input type="password" name="password" class="form-control" placeholder="Şifreniz" required />
    </div>

    <br />
    <button type="submit" class="btn btn-success">Giriş Yap</button>
}
