@model ECommerceMvcSite.Models.User

@{
    ViewBag.Title = "Kayıt Ol";
}

<h2>Kayıt Ol</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(x => x.Username)
    @Html.TextBoxFor(x => x.Username)

    @Html.LabelFor(x => x.Password)
    @Html.PasswordFor(x => x.Password)

    <button type="submit">Kayıt Ol</button>
}
